#layout_main {
    .fold-icon {
        text-align: right;
        cursor: pointer;
    }
    .project-warp {
        padding: 10px;
        border: 1px solid #ddd;
    }
    .board-column-content {
        height: 100%;
        min-height: 51px;
    }
    .status {
        i {
            display: none;
        }
        &:hover {
            i {
                display: block;
            }
        }
    }
}