#layout_main {
    .fold-icon {
        text-align: right;
        cursor: pointer;
    }
    .project-warp {
        padding: 10px;
        border: 1px solid #ddd;
    }
    .board-column-content {
        height: auto;
        min-height: 60px;
    }
    .status {
        i {
            display: none;
        }
        &:hover {
            i {
                display: block;
            }
        }
    }
}

.flip-list-move {
    transition: transform 0.5s;
}

.no-move {
    transition: transform 0s;
}